body {
	background-image: url('resources/jarjaruwu.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: 50% auto;
}

h3 {
	color: #FFFFFF;
}



